body {
    font:normal 15px/25px 'Georgia', serif;
    margin:0;
}

.header {
    background:#eee;
    padding:20px;
    text-align:center;
}

.header p {
    color:#555;
}

a {
    color:darkblue;
}

img {
    max-width:100%;
}

.wrap {
    margin:20px auto;
    max-width:700px;
    background:#fff;
}

.content {
    padding:10px 50px;
}

h1, h2, h3, h4, h5 {
    font-family:sans-serif;
}

.feedback {
    display:block;
    text-decoration:none;
    position:absolute;
    width:100px;
    height:100px;
    right:20px;
    top:20px;
    border-radius:100px;
    text-align:center;
    vertical-align:center;
    line-height:100px;
    background:#fff;
}

.feedback:hover {
    background:#ffe;
}
