body {
    margin:0;
    font:normal 16px/30px 'Georgia', serif;
    color:#222;
}

.header {
    background:#eee;
    padding:20px;
    text-align:center;
}

.header p {
    color:#555;
}

nav a {
    display:inline-block;
    padding:0 10px;
}

a {
    color:darkblue;
}

img {
    max-width:100%;
}

.wrap {
    margin:20px auto;
    max-width:700px;
    background:#fff;
}

.content {
    padding:10px 50px;
}

h1, h2, h3, h4, h5 {
    font-family:sans-serif;
}

h1 a, h2 a, h3 a, h4 a, h5 a {
    text-decoration:none;
    color:#222;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover {
    text-decoration:underline;
}

.permalink {
    display:none;
}

.h {
    position:relative;
}

.h:hover .permalink {
    color:lightblue;
    display:inline-block;
}

.languages {
    position:absolute;
    top:10px;
    right:10px;
}
