<!DOCTYPE html>
<html lang='{% if page.language %}{{ page.language }}{% else %}en{% endif %}'>
    <head>
        <meta charset='utf-8'>
        <title>{{ page.title }}: {{ site.language[page.language].tagline }}</title>
        <link rel='stylesheet' type='text/css' href='css/site.css' />
        <meta http-equiv='content-type' content='text/html; charset=utf-8' />
        <meta name='viewport' content='initial-scale=1.0 maximum-scale=1.0'>
        <meta name='description' content='{{ site.language[page.language].tagline }}'>
        <link rel='shortcut icon' href='img/library-24.png'>
    </head>
    <body>
        <div class='languages'>
            <a href='./'>English</a> /
            <a href='./index.it.html'>Italiano</a> /
            <a href='./index.es.html'>Español</a> /
            <a href='./index.se.html'>Svenska</a> /
            <a href='./index.fr.html'>Français</a> /
            <a href='./index.ja.html'>日本語</a> /
            <a href='./index.pt.html'>Português</a> /
            <a href='./index.de.html'>Deutsch</a> /
            <a href='./index.nl.html'>Dutch</a> /
            <a href='./index.uk.html'>Ukraine</a>
        </div>
        <div class='header'>
            <h1><a href='./'>{{ page.title }}</a></h1>
            <p>
                {{ site.language[page.language].tagline }}
            </p>
            <nav>
                <a href='./'>
                    {{ site.language[page.language].home }}</a>
                <a href='https://github.com/tmcw/mapschool'>
                    {{ site.language[page.language].code }}</a>
                <a href='https://tmcw.wufoo.com/forms/mapschool-feedback/'>{{ site.language[page.language].feedback }}</a>
                <a href='./contributors.html'>{{ site.language[page.language].contributors }}</a>
                <a href='./furtherreading.html'>{{ site.language[page.language].furtherreading }}</a>
            </nav>
        </div>
        <div class='wrap'>
            <div class='content'>
                {{ content }}
                <div id='disqus_thread'></div>
                <script type='text/javascript'>
                    /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
                    var disqus_shortname = 'mapschool'; // required: replace example with your forum shortname

                    /* * * DON'T EDIT BELOW THIS LINE * * */
                    (function() {
                        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
                        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
                        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
                    })();
                </script>
                <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
            </div>
        </div>
        <script type='text/javascript' src='js/site.js'></script>
        <script type='text/javascript'>
          var _gauges = _gauges || [];
          (function() {
            var t   = document.createElement('script');
            t.type  = 'text/javascript';
            t.async = true;
            t.id    = 'gauges-tracker';
            t.setAttribute('data-site-id', '528a6fcff5a1f56dc400009f');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
          })();
        </script>
    </body>
</html>
